//- I use this datalink variable to quickly switch between using local assets and using uploaded assets. 
//- For example, say I am uploading files to http://data.baltimoresun.com/example-link
//- If I wanted to switch quickly to my local files, instead of changing all of my links, 
//- I can just modify this single variable.
//- There are two datalink variables so I don't have to rewrite the link every time. 
//- The second datalink variable declaration overwrites the first one. 
//- When I want to switch to my server assets, I comment out the second declaration.
- var datalink = "http://data.baltimoresun.com/news/neighborhood-health/clifton-berea"
- var datalink = ""

include includes/data.pug

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">	
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title Clifton-Berea health profile
		meta(name="description", content="Explore Clifton-Berea in this in-depth data dive.")
		meta(name="author", content="The Baltimore Sun") 
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Lato|PT+Sans|Montserrat|Old+Standard+TT")
		link(rel="stylesheet", type="text/css", href=datalink + "css/style.css")
		link(rel="stylesheet", type="text/css", href=datalink + "css/fontello.css")

		//Facebook Stuff
		meta(property="og:title", content="Clifton-Berea health profile")
		meta(property="og:url", content="http://data.baltimoresun.com/news/neighborhood-health")
		meta(property="og:image", content="http://data.baltimoresun.com/news/neighborhood-health/clifton-berea/images/thumb.jpg")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="Explore Clifton-Berea in this in-depth data dive.")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltsundata")
		meta(name="twitter:title", content="Clifton-Berea health profile")
		meta(name="twitter:description", content="Explore Clifton-Berea in this in-depth data dive.")
		meta(name="twitter:image", content="http://data.baltimoresun.com/news/neighborhood-health/clifton-berea/images/thumb.jpg")
		meta(name="twitter:domain", content="baltimoresun.com")

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-body below.
		include includes/ad-for-header.html
		
	body
		//- This omniture file will also add a topnav. 
		//- Remember to update the omniture tags
		include includes/omniture.html
		
		.container
			.headline
				h1 Clifton-Berea
					span Health Profile
				p.source The Baltimore Sun’s analysis of Baltimore City Health Department’s 
					br
					a(href="http://health.baltimorecity.gov/neighborhoods/neighborhood-health-profile-reports" target="_blank") 2017 Neighborhood Health Profiles
				p.credit By Jin Bae Kim
			//- .neighborhoodSVG
			//- 	include includes/neighborhood.svg
			.startButton
				i.slideBtn.icon-right-open(data-toslide="0")
			.data
				.navButtons
					i.slideBtn.icon-left-open(data-toslide="-1")
					i.slideBtn.icon-right-open(data-toslide="1")
			.text
					
		.shareButtons
			i.icon-facebook-squared
			i.icon-twitter-squared

		//Javascript
		//- MAKE SURE TO CHECK OUT package.json and look at the uglify script. 
		script(src=datalink + "js/min/jquery-3.0.0.min.js")
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js")
		script(src=datalink + "js/app.js")
		//- script(src=datalink + "js/min/app.min.js")
		
	