//- I use this datalink variable to quickly switch between using local assets and using uploaded assets. 
//- For example, say I am uploading files to http://data.baltimoresun.com/example-link
//- If I wanted to switch quickly to my local files, instead of changing all of my links, 
//- I can just modify this single variable.
//- There are two datalink variables so I don't have to rewrite the link every time. 
//- The second datalink variable declaration overwrites the first one. 
//- When I want to switch to my server assets, I comment out the second declaration.
- var datalink = "http://data.baltimoresun.com/PROJECTLINK/"
- var datalink = ""

include includes/data.pug

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">	
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title
		meta(name="description", content="")
		meta(name="author", content="") 
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat")
		link(rel="stylesheet", type="text/css", href=datalink + "css/style.css")
		link(rel="stylesheet", type="text/css", href=datalink + "css/fontello.css")

		//Facebook Stuff
		meta(property="og:title", content="")
		meta(property="og:url", content="")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-body below.
		//- include includes/ad-for-header.html
		
	body
		//- This omniture file will also add a topnav. 
		//- Remember to update the omniture tags
		include includes/omniture.html
		
		.container
			.headline
				h1 Baltimore
					span Neighborhood
					span Health
			.navbar
				ul
					li
						button.categoryBtn.categoryBtn--active(data-cat="0")
							i.icon-users
							p.categoryBtn__label.categoryBtn__label--0 Demographics
					li
						button.categoryBtn(data-cat="1")
							i.icon-heartbeat
							p.categoryBtn__label.categoryBtn__label--1 Health
					li
						button.categoryBtn(data-cat="2")
							i.icon-hammer
							p.categoryBtn__label.categoryBtn__label--2 Safety
					li
						button.categoryBtn(data-cat="3")
							i.icon-money
							p.categoryBtn__label.categoryBtn__label--3 Socioeconomic
			.data
				h2.subhead
				for category,i in categories
					if i==0 
						.category.category--active(class="category--"+i)
							for variable,j in category
								if variable != null
									button.category__vars(data-var=i+j) 
										p #{variable}
					else
						.category(class="category--"+i)
							for variable,j in category
								if variable != null
									button.category__vars(data-var=i+j) 
										p #{variable}
				.map
					include includes/bmore-neighborhoods.svg
				.visualization

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-header above.
		//- #leaderboard			
			include includes/ad-for-body.html
		
		//Javascript
		//- MAKE SURE TO CHECK OUT package.json and look at the uglify script. 
		script(src=datalink + "js/min/jquery-3.0.0.min.js")
		script(src=datalink + "js/app.js")
		//- script(src=datalink + "js/app.min.js")
		
